pre {
  padding: 10px 0 !important;
}

div.section {
  padding: 1.5rem !important;
}

footer.footer {
  text-align: center;
  padding: 1.5rem 0 0;
}

h1 {
  font-size: 12px;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-container {
  margin-bottom: 15px;
}

.side-note {
  margin: 10px 0;
  padding: 5px 5px 0 15px;
  border-left: 4px solid #dce92a;
}

@media (max-width: 786px) {
  .github-corner svg {
    width: 60px;
    height: 60px;
    z-index: 2;
  }
}
.images-container {
  margin: 0 auto;
}

.images {
  margin: 0 auto;
}

.image {
  width: 300px;
  position: relative;
}

.image-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}

.image-name {
  color: white;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.image-source {
  color: rgb(59, 191, 231);
}
.image-source:hover {
  color: rgb(44, 160, 196);
}
.float-left {
  float: left;
}

.float-right {
  float: right;
}
