extends template.pug
block body
  script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
block content
  h1.title All images
  a(href="/") Back home
  .images Loading...
  script(src="../js/image_list.js")