head
  link(rel="stylesheet" href="../css/style.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
  link(rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css")
  script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js")
  script.
    hljs.initHighlightingOnLoad()
body
  block body
  .section
    .container
      .columns.is-centered
        .column.is-two-thirds
          block content